aiomysql==0.2.0
filelock==3.18.0
lxml==5.4.0
packaging==25.0
python-dotenv==1.1.0
rapidfuzz==3.13.0
requests==2.32.4
tqdm==4.67.1
discord.py==2.5.2
discord-ext-fancy-help @ git+https://github.com/redParrot17/discord-ext-fancy-help@07bd395b9570d621c851a8adc38ee05db24602b5
